<div class="card">
  <h1 i18n="@@title" class="text-center">Your order is on it's way!</h1>
  <div class="d-flex align-items-center">
    <img src="assets/delivery.png" alt="Delivery truck clipart" i18n-alt="@@image-alt">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" i18n="@@items">Items</th>
          <th scope="col" i18n="@@quantity">Qty</th>
          <th scope="col" i18n="@@amount" class="text-end">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.name }}</td>
          <td> {{ item.quantity }}</td>
          <td class="text-end"> {{ item.price | currency }}</td>
        </tr>
        <tr>
          <td> {{ currentDate | date }} </td>
          <td i18n="@@total">Total </td>
          <td class="text-end">{{ 75.60 | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p class="text-center" i18n="@@subtitle">Your order has been processed. Thank you for shopping with us &hearts;</p>
  <p class="text-center" i18n="@@redirect-to">Go back to the
    <a routerLink="#" i18n="@@homepage">home page</a>
  </p>
</div>
