/* You can add global styles to this file, and also import other style files */

:root {
  --main-bg-color: #ffffff;
  --accordion-bg-color: rgb(220, 240, 253);
  --main-text-color: rgb(2,131,210);
  --text-size: 1rem;
}

/*  Assets */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

/* Global styles */
body {
  font-family: 'Barlow Condensed', sans-serif;
}

.container {
  margin: 1rem 0;
}

.card {
  padding: 2rem;
  margin-bottom: 2rem;
}
